@{
    var userType = Session["UserType"].ToString() ?? "Student"; // Student as default
    var menuItems = new List<string>();

    if (userType == "Admin")
    {
        menuItems = new List<string> { "Sessions", "Students", "Instructors", "Branchs" };
    }
    else if (userType == "Instructor")
    {
        menuItems = new List<string> { "MySessions", "MyStudents" };
    }
    else if (userType == "Student")
    {
        menuItems = new List<string> { "Sessions", "MySessions", "MyRecords", "Instructors" };
    }

    var bottomMenuItems = userType == "Student" ? new List<string> { "Payment" } : new List<string>();
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@userType - HomePage</title>
    <link rel="stylesheet" href="~/Styles/homeStyle.css">
    <link rel="stylesheet" href="~/Styles/cardStyle.css" />
    <link rel="stylesheet" href="~/Styles/infoStyle.css">
</head>
<body>
    <div class="container">
        <div class="sidebar">
            <h1 class="title">TITLE</h1>
            <ul class="menu">
                @foreach (var item in menuItems)
                {
                    <li><a href="@item">@item</a></li>
                }
            </ul>

            @if (bottomMenuItems.Any())
            {
                <div class="bottom-menu">
                    <ul class="menu">
                        @foreach (var item in bottomMenuItems)
                        {
                            <li><a href="@item">@item</a></li>
                        }
                    </ul>
                </div>
            }

            <div class="user-info">
                <p><span><a href="UserInfo">@Session["Name"]</a></span></p>
            </div>
        </div>

        <div class="content">
            @RenderBody()
        </div>
    </div>
</body>
</html>
